.container 
    display: flex
    height: 100vh
    padding: 0 5rem

    .opcoes
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 15rem

        button
            border: 5px solid #506175
            border-radius: 5px
            cursor: pointer
            font-weight: 700
            height: 4rem
            width: 10rem    
            background-color: #76bfac
            a
                text-decoration: none
        
    .ia
        display: flex
        flex-direction: column
        justify-content: center