.container {
  background: #68a797;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main {
  display: flex;
  background: #fff;
  height: 95vh;
  width: 95%;
  border: 3px solid #506175;
  border-radius: 5px;
  overflow-y: auto;
}
.container form {
  width: 80%;
}
.container form .cpf {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
}
.container form .cpf input {
  padding: 0.2rem;
}
.container form .cpfNotFound {
  border-color: red;
  color: red;
}
.container form .part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.container form .part1 .perfil {
  flex-direction: column;
}
.container form .part1 .perfil div {
  width: 150px;
  padding: 0.5rem;
}
.container form .part1 .perfil div input {
  padding: 0.3rem;
}
.container form .part1 .perfil .alergia {
  padding: 1rem;
}
.container form .part1 .perfil .alergia input {
  padding: 0.3rem;
}
.container form .part2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.container form .part2 label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.4rem;
}
.container form .part2 label input {
  padding: 0.3rem;
  font-size: 2rem;
}
.container form .part2 .descricao input {
  height: 100%;
}
.container form .part3 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container form .part3 input {
  height: 70px;
  font-size: 2rem;
}
.container form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background: #76bfac;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
.container .historico {
  display: flex;
  flex-direction: column;
  align-items: center;
  widows: 20%;
}
.container .historico .consulta {
  padding: 1rem;
}
.container .historico .consulta .medicoInfo {
  display: flex;
  align-items: center;
}
.container .historico .consulta .nomes {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.container .historico .consulta .nomes h2 {
  width: 200px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.container .historico .consulta button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 40px;
  height: 40px;
  background: #76bfac;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
.container .historico .consulta img {
  width: 30px;
  border: 3px solid black;
  border-radius: 5px;
}
.container .historico .detalhes {
  max-width: 408px;
}
.container .historico .detalhes p {
  justify-content: flex-start;
  font-size: 1.2em !important;
  padding: 0.5rem;
  color: black;
}

@media screen and (max-width: 1280px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 927px) {
  .part2 {
    display: flex;
    flex-direction: column;
  }
  .part2 .descricao input {
    height: 200px !important;
  }
  .part3 input {
    height: 200px !important;
  }
}/*# sourceMappingURL=iniciarConsulta.module.css.map */